services:
  frontend:
    # platform: linux/amd64
    image: hasanmar/sudoku-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    # platform: linux/amd64  
    image: hasanmar/sudoku-backend:latest
    ports:
      - "5001:5000"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"